.words {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: bold;
}
span {
  display: block;
  animation: spin 6s infinite;
  padding-left: 4px;
  background: -webkit-linear-gradient(45deg, #0046dd, #00ce78 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cont {
  height: 60px;
  overflow: hidden;
}
@keyframes spin {
  10% {
    transform: translateY(-112%);
  }
  25% {
    transform: translateY(-100%);
  }
  35% {
    transform: translateY(-212%);
  }
  50% {
    transform: translateY(-200%);
  }
  60% {
    transform: translateY(-312%);
  }
  75% {
    transform: translateY(-300%);
  }
  85% {
    transform: translateY(-412%);
  }
  100% {
    transform: translateY(-400%);
  }
}
